services:
  menu-master-pg:
    image: bitnami/postgresql:16
    container_name: menu-master-pg
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      - POSTGRESQL_USERNAME=${POSTGRES_USER}
      - POSTGRESQL_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRESQL_DATABASE=${POSTGRES_DB}
    volumes:
      - menu_master_pg_data:/bitnami/postgresql

volumes:
  menu_master_pg_data:
    driver: local
